/* CSS variables */
:root {
    --color1: #58ACFA;
    --color2: #380B61;
}

.color1 { color: var(--color1); }
.color2 { color: var(--color2); }

/* Custom scrollbar */
::-webkit-scrollbar { 
    width: 15px; 
    background-color: var(--bs-dark);
}
::-webkit-scrollbar-track { 
    border-radius: 7px;
    background-color: var(--bs-dark); 
}
::-webkit-scrollbar-thumb {
    opacity: 0.7;
    border-radius: 7px;
    background: darkgray; 
}
::-webkit-scrollbar-thumb:hover { opacity: 1; }

/* Custom text selection */
::-moz-selection {
    color: white;
    background: #2f3542;
}

::selection {
    color: white;
    background: #2f3542;
}

/* Global styles */
header, footer {
    background: var(--color1);
    background: -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color1),GradientType=1 );
}
section { padding: 100px 0; height: 1000px; }

a, #go-to-top-btn { opacity: 0.8; transition: 0.3s; }
a:hover, #go-to-top-btn:hover { opacity: 1; }

/* Header styles */

/* Main sections styles */
#go-to-top-btn {
    z-index: 80;
    border: none;
    outline: none;
    position: fixed;
    width: 50px; height: 50px;
    right: 30px; bottom: 30px;
    display: none; /* Hidden by default */

    color: white;
    background-color: var(--bs-dark);
}
#go-to-top-btn ion-icon { font-size: 1.5em; }

/* Footer styles */
