/* CSS variables */
:root {
    --text-color: var(--bs-dark);

    --color1: #3499FF;
    --color2: #3A3985;

    --bg-color-1: white;
    --bg-color-2: #eee;
}
:root[theme="dark"] {
    --text-color: #fafafa;

    --color1: #8278DA;
    --color2: #121C84;

    --bg-color-1: #343a40;
    --bg-color-2: var(--bs-secondary);
}

.text-color { color: var(--text-color); }

.color1 { color: var(--color1); }
.color2 { color: var(--color2); }

.bg1 { background-color: var(--bg-color-1); }
.bg2 { background-color: var(--bg-color-2); }

.bg1 h2 { color: var(--color1); }
.bg2 h2 { color: var(--color2); }

/* Custom scrollbar */
::-webkit-scrollbar { 
    width: 15px; 
    background-color: var(--bs-dark);
}
::-webkit-scrollbar-track { 
    border-radius: 7px;
    background-color: var(--bs-dark); 
}
::-webkit-scrollbar-thumb {
    opacity: 0.7;
    border-radius: 7px;
    background: darkgray; 
}
::-webkit-scrollbar-thumb:hover { opacity: 1; }

/* Custom text selection */
::-moz-selection {
    color: white;
    background: #2f3542;
}

::selection {
    color: white;
    background: #2f3542;
}

/* Theme toggler */
#theme_toggler, .language_switcher { top: 20px; }

#theme_toggler { left: 20px; }
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    background-color: #343a40;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}
.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball { transform: translateX(24px); }

ion-icon[name="sunny"],
ion-icon[name="moon"] {
    color: yellow;
}

/* Global styles */
body, .list-group-item { color: var(--text-color); }
header, footer, .navbar {
    background: var(--color1);
    background: -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color1),GradientType=1 );
}
section { 
    padding: 80px 0; 
    scroll-margin-top: 50px;
}
body, section { transition: background 0.2s linear; }


.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled { cursor: not-allowed; }

.opacity-1, #go-to-top-btn:hover { opacity: 1; }

a, #go-to-top-btn, #theme_toggler { 
    opacity: 0.8; 
    transition: 0.3s; 
    color: var(--text-color);
}
a:hover,
#theme_toggler:hover { 
    opacity: 1; 
    color: var(--text-color);
}

/* Header styles */
.language_switcher { right: 20px; }
.ua_switcher { right: 60px; }

.my_photo { width: 50%; }

header h2 { font-size: 4em; }

.my-position {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid rgba(255,255,255,.75);
    animation: typewriter 4s steps(44) 2.5s 1 normal both, 
               blinkTextCursor 700ms steps(44) infinite normal;
}

ion-icon[name="document-text"] { font-size: 1.5em; }
ion-icon[name="calendar"] { font-size: 2em; }

.sticky-top { 
    z-index: 90;
    margin-top: -1px;
    box-shadow: 0 10px 20px var(--bs-dark); 
}

.navbar-nav { 
    font-size: 1.3em;
    font-weight: 700; 
}
.navbar-brand { 
    opacity: 1;
    font-size: 1.5em; 
}

.top-menu a,
.top-menu a:hover { color: var(--bs-light); }
.top-menu li a::after {
    content: "";
    display: block;
    width: 100%;
    background-color: var(--bs-light);
    height: 1px;
    transition: all 0.5s;
    transform: scale(0);
}
.top-menu li a:hover::after { transform: scale(1); }

/* Main sections styles */
section ion-icon { font-size: 1.5em; }

.circle_icon {
    width: 80px;
    height: 80px;
    margin: 30px auto 15px;
    border-radius: 50%;
    border: 3px solid var(--color2);
    background-color: #fff;
}
.circle_icon ion-icon { 
    color: black;
    font-size: 2em; 
}

.language_switcher { 
    margin: 0;
    width: 30px;
    height: 30px; 
}

.line {
    width: 100px;
    height: 3px;
    margin: 10px auto;
    background-color: var(--color1);
}

.modal-content { background-color: #eee; }
.modal-content ion-icon { font-size: 2em; }

.modal-body div { width: 50%; }

ion-icon[name="logo-whatsapp"] { color: #8d3cd3; }
.modal-body ion-icon[name="navigate-circle"] { color: #2798cf; }

#about-me p { 
    font-size: 1.7em; 
    text-indent: 30px;
}

#skills .list-group-item { 
    display: flex;
    align-items: center;

    font-size: 1.2em;
    background-color: var(--bg-color-2); 
}
ion-icon[name="checkmark-circle"] { color: green; }

ion-icon[name="checkmark-circle"], 
ion-icon[name="logo-whatsapp"], 
.modal-body ion-icon[name="navigate-circle"] {
    border-radius: 50%;
    background-color: #fff;
}

.project { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    transition: 0.5s;
    border: 3px solid var(--color1); 
}
.project:hover { box-shadow: 0 0 20px gray; }

#education ul { font-size: 1.4em; }
#education ul ul { font-size: 1em; }

form { 
    width: 50%; 
    color: black;
}

#go-to-top-btn {
    z-index: 80;
    border: none;
    outline: none;
    position: fixed;
    width: 50px; height: 50px;
    right: 30px; bottom: 30px;
    display: none; /* Hidden by default */

    color: white;
    background-color: var(--bs-dark);
}
#go-to-top-btn ion-icon { font-size: 1.5em; }

/* Footer styles */
footer { 
    z-index: 70; 
    position: relative;
}

.social_networks a ion-icon { font-size: 2em; }

/* Media queries */
@media screen and (max-width: 425px) {
    .my_photo { width: 75%; }
    .social_networks a ion-icon { font-size: 1.3em; }
}

@media screen and (max-width: 576px) { /* Bootstrap5 .sm breakpoint */
    .modal-body div { width: 75%; }
    #about-me p { font-size: 1.1em; }
    #education ul { font-size: 1.1em; }
    form { width: 100%; }
    footer { z-index: 90; }
}

@media screen and (max-width: 992px) { /* Bootstrap5 .lg breakpoint */
    #about-me p { font-size: 1.3em; }
    .project { width: 100%; }
}

/* Animations */
@keyframes typewriter{
    from { width: 0; }
    to { width: 11em; }
}
@keyframes blinkTextCursor{
    from { border-right-color: rgba(255,255,255,.75); }
    to { border-right-color: transparent; }
}
@keyframes slowHiding{
    from { opacity: 1; }
    to { opacity: 0; }
}
