/* CSS variables */
:root {
    --color1: #3499FF;
    --color2: #3A3985;
}

.color1 { color: var(--color1); }
.color2 { color: var(--color2); }

/* Custom scrollbar */
::-webkit-scrollbar { 
    width: 15px; 
    background-color: var(--bs-dark);
}
::-webkit-scrollbar-track { 
    border-radius: 7px;
    background-color: var(--bs-dark); 
}
::-webkit-scrollbar-thumb {
    opacity: 0.7;
    border-radius: 7px;
    background: darkgray; 
}
::-webkit-scrollbar-thumb:hover { opacity: 1; }

/* Custom text selection */
::-moz-selection {
    color: white;
    background: #2f3542;
}

::selection {
    color: white;
    background: #2f3542;
}

/* Global styles */
header, footer, .navbar {
    background: var(--color1);
    background: -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color1),GradientType=1 );
}
section { 
    padding: 80px 0; 
    scroll-margin-top: 50px;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled { cursor: not-allowed; }

.opacity-1 { opacity: 1; }

a, #go-to-top-btn { 
    color: black;
    opacity: 0.8; 
    transition: 0.3s; 
}
a:hover, #go-to-top-btn:hover { opacity: 1; }

/* Header styles */
.language_switcher { 
    top: 20px; 
    right: 20px;
}
.ua_switcher { right: 60px; }

.my_photo { width: 50%; }
header h2 { font-size: 4em; }
ion-icon[name="document-text"] { font-size: 1.5em; }
ion-icon[name="calendar"] { font-size: 2em; }

.sticky-top { 
    margin-top: -1px;
    box-shadow: 0 10px 20px var(--bs-dark); 
}

.navbar-nav { 
    font-size: 1.3em;
    font-weight: 700; 
}
.navbar-brand { 
    opacity: 1;
    font-size: 1.5em; 
}

.top-menu a,
.top-menu a:hover { color: var(--bs-light); }
.top-menu li a::after {
    content: "";
    display: block;
    width: 100%;
    background-color: var(--bs-light);
    height: 1px;
    transition: all 0.5s;
    transform: scale(0);
}
.top-menu li a:hover::after { transform: scale(1); }

/* Main sections styles */
section ion-icon { font-size: 1.5em; }
#contacts, #skills, #education { background-color: #eee; }

.circle_icon {
    width: 80px;
    height: 80px;
    margin: 30px auto 15px;
    border-radius: 50%;
    border: 3px solid var(--color2);
    background-color: #fff;
}
.circle_icon ion-icon { font-size: 2em; }

.language_switcher { 
    margin: 0;
    width: 30px;
    height: 30px; 
}

.line {
    width: 100px;
    height: 3px;
    margin: 10px auto;
    background-color: var(--color1);
}

.modal-content { background-color: #eee; }
.modal-content ion-icon { font-size: 2em; }

.modal-body div { width: 50%; }

ion-icon[name="logo-whatsapp"] { color: #8d3cd3; }
.modal-body ion-icon[name="navigate-circle"] { color: #2798cf; }

#about-me p { 
    font-size: 1.7em; 
    text-indent: 30px;
}

#skills .list-group-item { 
    display: flex;
    align-items: center;

    font-size: 1.2em;
    background-color: #eee; 
}
ion-icon[name="checkmark-circle"] { color: green; }

.project { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    transition: 0.5s;
    border: 3px solid var(--color1); 
}
.project:hover { box-shadow: 0 0 20px gray; }

#education ul { font-size: 1.4em; }
#education ul ul { font-size: 1em; }

form { width: 50%; }

#go-to-top-btn {
    z-index: 80;
    border: none;
    outline: none;
    position: fixed;
    width: 50px; height: 50px;
    right: 30px; bottom: 30px;
    display: none; /* Hidden by default */

    color: white;
    background-color: var(--bs-dark);
}
#go-to-top-btn ion-icon { font-size: 1.5em; }

/* Footer styles */
footer { 
    z-index: 70; 
    position: relative;
}

.social_networks a ion-icon { font-size: 2em; }

/* Media queries */
@media screen and (max-width: 425px) {
    .my_photo { width: 75%; }
    .social_networks a ion-icon { font-size: 1.3em; }
}

@media screen and (max-width: 576px) {
    .modal-body div { width: 75%; }
    #about-me p { font-size: 1.1em; }
    #education ul { font-size: 1.1em; }
    form { width: 100%; }
    footer { z-index: 90; }
}

@media screen and (max-width: 992px) {
    #about-me p { font-size: 1.3em; }
    .project { width: 100%; }
}
